@using Microsoft.AspNetCore.Authentication;
@{
    ViewData["Title"] = "About";
}
<h2>User Claims</h2>
<dl>
    @foreach (var claim in User.Claims)
    {
        <dt>@claim.Type</dt>
        <dd>@claim.Value</dd>

    }
    <dt>id token</dt>
    <dd>@await ViewContext.HttpContext.GetTokenAsync("id_token")</dd>
</dl>
